<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FilePath" value="C:\Temp"/>
		<add key="TxtFileName" value="Employees.txt"/>
		<add key="JsonFileName" value="Employees.json"/>
		<add key="XmlFileName" value="Employees.xml"/>
		<add key="myHost" value="https://www.betcom.it"/>
		<add key="Admin" value="Claudio;Giuseppe;Tony;KJhqwkuhye982qiwyhduaskh"/>
		<add key ="DbConnectionString" value="Data Source=DESKTOP-EC3OK7S\SQLEXPRESS01;Initial Catalog=AcademyNet7;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"/>
	</appSettings>
</configuration>	